*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
    color: #fff;
}
ul {
    list-style: none;
}
.container {
    max-width: 1100px;
    margin: auto;
}
.btn {
    display: inline-block;
    padding: 15px 30px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}
.btn-primary {
    border: 1px solid #fff;
}
.btn-primary:hover {
    background: #3586ff;
}
.primary-text {
    color: #3586ff;
}
header {
    height: 90vh;
    background: url("/img/vintage.avif") center center/cover no-repeat;
    position: relative;
}
#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
}
#navbar img {
    width: 80px;
    margin-left: 100px;
}
nav ul {
    display: flex;
    margin-right: 100px;
}
nav ul li a {
    padding: 15px 20px;
    font-weight: 600;
}
nav ul li a:hover {
    border-bottom: 2px solid #3586ff;
}
header .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
header::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(0, 0, 0, 0.6);
}
header .content h1 {
    font-size: 40px;
    color: #fff;
}
header .content p {
    color: #fff;
    margin: 20px 0 40px;
}
header * {
    z-index: 10;
}
#main {
    height: 85vh;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}
#main .title, #n .title {
    text-align: center;
    margin: 4rem;
    color: #3586ff;
}
#main h2, #n h2 {
    font-size: 40px;
    margin-bottom: 20px;
}
#main .title p {
    font-weight: 600;
    font-size: 14px;
    color: #3586ff;
}
#main .main-content {
    display: flex;
    justify-content: space-between;
    text-align: justify;
    font-size: 18px;
    padding: 40px;
    margin-bottom: 4rem;
}
.dark {
    height: 400px;
    background: url("/img/background.jpg") center center/cover no-repeat;
}
.dark p {
    height: 45vh;
    font-size: xx-large;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    padding: 50px;
    line-height: 1.5;
}
.clear {
    height: 150px;
}
.clear2 {
    height: 200px;
}
.wrapper {
    margin: 50px;
    border-radius: 2px;
    display: flex;
    flex-wrap: wrap;
}

.wrapper div {
    flex: 1;
    min-height: 400px;
    padding: 10px;
    box-sizing: border-box;
}

.wrapper p {
    width: 100%;
}

#one,
#three {
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 100%; 
}

#two,
#four {
    align-items: center;
    justify-content: center;
    font-size: larger;
    text-align: justify;
    background: url("/img/background.jpg") center center/cover no-repeat;
    color: #ffffff;
    padding: 50px;
    min-width: 100%; 
    box-sizing: border-box;
}
#two p,
#four p{
    margin-top: 30px;
    line-height: 1.5;
}
#one {
    background-image: url('/img/programming.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
#three {
    background-image: url('/img/studio.avif');
    background-size: cover;
    background-repeat: no-repeat;
    max-height: 500px;
}

.wbtn{
    margin-top: 50px;
}
footer {
    position: relative;
    width: 100%;
    background: #3586ff;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.socialGroup {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}
.socialGroup a {
    width: 35px;
    height: 35px;
    text-decoration: none;
    text-align: center;
    margin-right: 15px;
    border-radius: 25px;
    background-color: transparent;
    transition: 0.2s;
}
.socialGroup a i {
    color: #ddd;
    font-size: 25px;
    line-height: 35px;
    border: 1px solid transparent;
    transition-delay: 0.2s;
}
.socialGroup a:hover {
    transform: translateY(-10px);
    background-color: transparent;
    background-color: dodgerblue;
}
footer p {
    color: #fff;
    margin: 15px 0 10px 0;
    font-size: 1rem;
    font-weight: 300;
}
.wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url("https://i.ibb.co/wQZVxxk/wave.png");
    background-size: 1000px 100px;
}
.wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWaves 4s linear infinite;
}
.wave#wave2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animate 4s linear infinite !important;
}
.wave#wave3 {
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWaves 3s linear infinite;
}
.wave#wave4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animate 3s linear infinite;
}
@keyframes animateWaves {
    0% {
        background-position-x: 1000px;
    }


}
@keyframes animate {
    0% {
        background-position-x: -1000px;
    }


}
@media (min-width: 567px) {

}
@media screen and (min-width: 789px) {
    #one,
    #three {
        min-width: 45%;
    }

    #two,
    #four {
        min-width: 45%;
    }
}
@media screen and (max-width: 400px) {

#navbar {
    flex-direction: column;
  }
  header .content h1 {
    font-size: 18px;
  }
  header .content p {
    font-size: 14px;
  } 
}
