@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}
body{
  width: 100%;
  min-height: 100vh;
  background-color: #2e2e2e;
  display: block;
  justify-content: flex;
  align-items: flex-end;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}

html {scroll-behavior: smooth;}
a {
  text-decoration: none;
  color: #fff;
}
ul {list-style: none;}
.container {
  max-width: 1100px;
  margin: auto;
}

/* Utility Classes */
.btn {
  display: inline-block;
  padding: 15px 30px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}
.btn-primary {border: 1px solid #fff;}
.btn-primary:hover{background: dodgerblue;}
.primary-text {color: dodgerblue;}

/* Header Start */
header {
  height: 100vh;
  background: url("https://static.wixstatic.com/media/8c29ed2b0f8b4b77b9cf326ebde2d949.jpg/v1/fill/w_834,h_555,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/8c29ed2b0f8b4b77b9cf326ebde2d949.jpg") center center/cover no-repeat;
  position: relative;
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100%;
}

#navbar img {
  width: 80px;
  margin-left: 100px;
}

nav ul {
  display: flex;
  margin-right: 100px;
}

nav ul li a {
  padding: 15px 20px;
  font-weight: 600;
}
nav ul li a:hover {border-bottom: 2px solid dodgerblue;}

header .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 75%; 
}

header::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgb(0, 0, 0, 0.6);
}

header .content h1 {
  font-size: 40px;
  color: #fff;
}

header .content p {
  color: #fff;
  margin: 20px 0 40px;
}
header * {z-index: 10;}
/* Header End */

.container{
  padding: 20% 10%;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 8%;
}
.container .row{
  padding: 10% 15px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1100px;

}
.row section.Col{
  display: flex;
  flex-direction: column;
}
.row section.left{
  flex-basis: 35%;
  min-width: 320px;
  margin-right: 50px;
}
.row section.right{flex-basis: 60%;}
section.left .ContactTitle h2{
position: relative;
font-size: 30px;
color: #ddd;
display: inline-block;
margin-bottom: 25px;

}
section.left .ContactTitle h2::before{
  content: '';
  position: absolute;
  width: 60%;
  height: 1px;
  background-color: #888;
  top: 120%;
  left: 0;

}

section.left .ContactTitle h2::after{
  content: '';
  position: absolute;
  width: 25%;
  height: 3px;
  background-color: dodgerblue;
  top: calc(120% - 1px);
  left: 0;
}
section.left .ContactTitle p{
  font-size: 20px;
  color: #ddd;
  letter-spacing: 1.5px;
  line-height: 1.2;
  padding-bottom: 22px;
}
section.left .contactInfo{
  margin-bottom: 16px;
}
.contactInfo .IconsGroup{
  display: flex;
  align-items: center;
  margin: 25px 0px;
}

/*chanage icon color ########################*/
.IconsGroup .Icons{
  width: 45px;
  height: 45px;
  border: 2px solid dodgerblue;
  border-radius: 50%;
  margin-right: 20px;
  position: relative;

}
.IconsGroup .Icons i{
  font-size: 20px;
  color: #ddd;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.IconsGroup .Details span{
  display: block;
  color: #ddd;
  font-size: 18px;
}
.IconsGroup .Details span:nth-child(1){
  text-transform: uppercase;
  color: dodgerblue;
}

section.left .socialGroup{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin: 22px 0px 20px;
}

/* Code for the right section (column) */
.row section.right .messegeFORM{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-top: 30px;
}
.row section.right .inputGroup{
	margin: 18px 0px;
	position: relative;
}
section.right h2{
  position: relative;
  font-size: 30px;
  color: #ddd;
  display: inline-block;
  margin-bottom: 25px;
}
section.right h2::before{
  content: '';
  position: absolute;
  width: 70%;
  height: 1px;
  background-color: #888;
  top: 120%;
  left: 0;
}
section.right h2::after{
  content: '';
  position: absolute;
  width: 18%;
  height: 3px;
  background-color: dodgerblue;
  top: calc(120% - 1px);
  left: 0;
}
.messegeFORM .halfWidth{flex-basis: 48%;}
.messegeFORM .fullWidth{flex-basis: 100%;}

/*FORM STYLE HERE*/
.messegeFORM input, .messegeFORM textarea{
	width: 100%;
	font-size: 18px;
	padding: 2px 0px;
	background-color: #2e2e2e;
	color: #ddd;
	border: none;
	border-bottom: 2px solid #ddd;
	outline: none;
}
.messegeFORM textarea{
	resize: none;
	height: 150px;
	display: block;
}
textarea::-webkit-scrollbar{width: 5px;}
textarea::-webkit-scrollbar-track{
	background-color: #ddd;
	border-radius: 15px;
}
textarea::-webkit-scrollbar-thumb{
	background-color: #ddd;
	border-radius: 15px;
}
.inputGroup label{
	position: absolute;
	left: 0;
	bottom: 4px;
	color: #888;
	font-size: 18px;
	transition: 0.4s;
	pointer-events: none;
}

.lang select{
  background: #2e2e2e;
  width: 120px;
  color: #888;
  font-size: 15px;
  text-align: center;
  border-radius: 25px;
  border: 1px solid #ddd;
}
.lang select option{
  background: transparent;
  font-size: 15px;
}
.inputGroup:nth-child(4) label{top: 2px;}

/* radio */
legend{
    padding: 0% 5%;
    margin: 0% 3%;
    font-size: 19px;
    color:#888;
}
label > input[type="radio"] {display: none;}
label > input[type="radio"] + *::before {
    content: "";
    display: inline-block;
    vertical-align: bottom;
    width: 10px;
    height: 10px;
    margin-right: 5px;
    border-radius: 50%;
    border: 3px solid dodgerblue;  
}

label > input[type="radio"]:checked + * {color: dodgerblue;}
label > input[type="radio"]:checked + *::before {
    background: radial-gradient(dodgerblue 0%, dodgerblue 40%, transparent 50%, transparent);
    border-color: dodgerblue;
    
}

  /* basic layout */
fieldset {
    margin: 4%;
    max-width: 400px;
  }
label > input[type="radio"] + * {
    display: inline-block;
    padding: 10px 10px;
    color: #ddd;
  }
fieldset select{margin: 10px 30px;}
.inputGroup input:focus ~ label, .inputGroup textarea:focus ~ label,
.inputGroup input:valid ~ label, .inputGroup textarea:valid ~ label,
.inputGroup input[type="date"]:focus ~ label
{
	transform: translateY(-30px);
	font-size: 16px;
}

.inputGroup button{
	padding: 8px 16px;
	font-size: 18px;
	background-color: dodgerblue;
	color: #ddd;
	border: 1px solid transparent;
	border-radius: 25px;
	outline: none;
	cursor: pointer;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
	transition: 0.4s;
}
.inputGroup button:hover{
	background-color: #2e2e2e;
	color: #ddd;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
	border: 1px solid #3586ff;
}
/*Responisveness*/
@media(max-width: 1100px){
	.messegeFORM .halfWidth{
		flex-basis: 100%;
	}
}
@media(max-width: 900px){
	.container .row{flex-wrap: wrap;}
	.row section.left, .row section.right{
		flex-basis: 100%;
		margin: 0px;
	}
}

footer {
  position: relative;
  width: 100%;
  background: #3586ff;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.socialGroup{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}
.socialGroup a{
  width: 35px;
  height: 35px;
  text-decoration: none ;
  text-align: center;
  margin-right: 15px;
  border-radius: 25px;
  background-color: transparent;
  transition: 0.2s;
}
.socialGroup a i{
  color: #ddd;
  font-size: 25px;
  line-height: 35px;
  border: 1px solid transparent;
  transition-delay: 0.2s;
}
.socialGroup a:hover{
  transform: translateY(-10px);
  background-color: transparent;
  background-color: dodgerblue;
}
footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}
.wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("https://i.ibb.co/wQZVxxk/wave.png");
  background-size: 1000px 100px;
}
.wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWaves 4s linear infinite;
}
.wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animate 4s linear infinite !important;
}
.wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWaves 3s linear infinite;
}
.wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animate 3s linear infinite;
}
@keyframes animateWaves {
  0% {background-position-x: 1000px;}
  100% {background-position-x: 0px;}
}

@keyframes animate {
  0% {background-position-x: -1000px;}
  100% {background-position-x: 0px;}
}
@media screen and (max-width: 400px) {

  #navbar {flex-direction: column;}
  }