
header{
    text-align: center;
    
    position: fixed;  
    margin-left: 350px;
    margin-top: 20px;
    color:#a8dddd;
    
}

h1{
    font-size: 36px;
    font-weight: 600;
  
    
}

p{
    color: rgb(103, 130, 141);
    font-size: 14px;
line-height: 22px;
font-weight: 300;
padding: 10px;

}

body{

    background: rgb(255, 255, 255);


  }
    
    *{
        margin: 0;
        padding: 0;
    }
    
    html{
        scroll-behavior: smooth;
        font-family: tahoma;
    }
    
    .MainNav ul{
         margin-top: 100px;
        List-style: none;
        height: 50px;
        width: 100%;
        position: fixed;   
        top: 0; left: 0;
        background:rgb(144, 154, 166);
        box-shadow: 2px 0px 5px black;
        display: flex;
        justify-content: space-around;
    }

    .MainNav ul li{
        margin-top: 100px;
        margin: 5px;
        padding: 5px;
        
    }

    .MainNav ul li a{
        margin-top: 100px;
        text-decoration: none;
        font-size:20px ;
        padding: 5px;
    }


    h1::after{
        content: "";
     width: 0%;
     height: 2px;
     background: rgba(41, 114, 186, 0.715);
     display: block;
     margin: auto;
     transition: 0.5s;
    }

    h1:hover::after{
      
     width: 100%;

    }

    

    section p::after{
        content: "";
     width: 0%;
     height: 2px;
     background:rgba(41, 114, 186, 0.715);
     display: block;
     margin: auto;
     transition: 0.5s;
    }

    p:hover::after{
      
     width: 100%;

    }


    .content{
       display: flex; 
       width: 300%;
    }


section{
    height: 80vh;
    width: 100vw;
    display: flex;
    align-items:center;
    justify-content: left;
}

        
    
        #section2 form{
padding-top: 20px;
        }


.btnNext{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
        .btnNext:hover{
            border: 1px  solid  rgba(41, 114, 186, 0.715);
            background: rgba(41, 114, 186, 0.715) ;
            transition: 1s;
        }


        .btnBack{
            display: inline-block;
            text-decoration: none;
            color: #fff;
            border: 1px solid #fff;
            padding: 12px 34px;
            background: transparent;
            position: relative;
            cursor: pointer;
        }
                .btnBack:hover{
                    border: 1px  solid   rgba(41, 114, 186, 0.715);
                    background: rgba(41, 114, 186, 0.715) ;
                    transition: 1s;
                }
       
.btnNext {
    margin-top: 10px;
    display: inline-block;
    background:#3b3939;
    color: #fff;
    font-size: 17px;
    border-radius: 5px;
    padding: 8px 25px;
    text-decoration: none;  
    margin-top: 400px;
    margin-right: 10px; 

}

.btnBack {
    margin-top: 10px;
    display: inline-block;
    background: #3b3939;
    color: #fff;
    font-size: 17px;
    border-radius: 5px;
    padding: 8px 25px;
    text-decoration: none;
    margin-top: 400px;
    margin-right: 10px;
}

.btnCancel{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
        .btnCancel:hover{
            border: 1px  solid  rgba(41, 114, 186, 0.715);
            background: rgba(41, 114, 186, 0.715) ;
            transition: 1s;
        }
.btnCancel {
    margin-top: 10px;
    display: inline-block;
    background:#3b3939;
    color: #fff;
    font-size: 17px;
    border-radius: 5px;
    padding: 8px 25px;
    text-decoration: none;  
    margin-top: 400px;
    margin-right: 10px; 

}


form h3{
    color: #3b3939;
    padding-bottom: 10px;
    align-items: center;
}



.FSection{
color:rgb(10, 52, 86) ;

}


#section1{
    margin-top: 100px;
    background:rgb(10, 52, 86)  ;
}

.SSection{
    color:rgb(82, 132, 139) ;
}
#section2{
    margin-top: 100px;
    background: rgb(100, 162, 170);
    }

    .TSection{
        color: #AFEEEE;
    }
    #section3{
        margin-top: 100px;
        background: #AFEEEE;
        }

    form p{
        color:#3b3939;
    }


    @media (max-width:768px) {
        section{
            padding:20px ;
        }
    }